{% extends 'contribution/base.html' %}

{% block content %}
    {% for contribution in contributions %}
        <div class="contribution">
            <div class="date">
                <p>published: {{ contribution.published_date }}</p>
            </div>
            <h2><a href="{% url 'contribution_detail' pk=contribution.pk %}">{{ contribution.title }}</a></h2>
            <p>{{ contribution.text|linebreaksbr }}</p>
            <div class="rating">
                <p>rating: {{ contribution.rating }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
