{% extends 'contribution/base.html' %}

{% block content %}
    <div class="contribution">
        {% if contribution.published_date %}
            <div class="date">
                <p>published: {{ contribution.published_date }}</p>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'contribution_edit' pk=contribution.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ contribution.title }}</h2>
        <p>{{ contribution.text|linebreaksbr }}</p>
        <div class="rating">
            <p>rating: {{ contribution.rating }}</p>
        </div>
    </div>
{% endblock %}
