<html>
    <head>
        <title>Django Girls blog Arrange Ver.</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog Arrange Ver.</a></h1>
        </div>

        {% for contribution in contributions %}
            <div>
                <p>published: {{ contribution.published_date }}</p>
                <h2><a href="">{{ contribution.title }}</a></h2>
                <p>{{ contribution.text|linebreaksbr }}</p>
                <p>rating: {{ contribution.rating }}</p>
            </div>
        {% endfor %}
    </body>
</html>
